/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .smallScreen {
    display: block;
  }
  .bigScreen {
    display: none;
  }
  .smallScreen .toggle {
    /* font-size: calc(10px + 2vmin); */
    cursor: pointer;
  }

  .smallScreen .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .smallScreen .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .smallScreen .sidenav a:hover {
    color: #f1f1f1;
  }

  .smallScreen .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/* bigger devices (portrait tablets, large phones, computers and up) */
@media only screen and (min-width: 600px) {
  .smallScreen {
    display: none;
  }
  .bigScreen {
    display: block;
    width: max-content;
  }
  nav > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*children horizontally centered*/
    align-items: right; /*children vertically centered*/
    /* width: 100%; */
  }
  nav a {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    text-align: center;
  } 
}
